<style>
    label.toggleDivVisibilityLabel {
        line-height: 20px;
    }
    label.switch {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottomNav" style="max-width: 100%; max-height: 80px">
    <div class="container-fluid" style="max-width: 1150px;">

        <label class="toggleDivVisibilityLabel" for="tehtava">Tehtävät</label>
        <label class="switch">
            <input class="toggleDivVisibility" id="tehtava" type="checkbox" checked>
            <div class="slider round"></div>
        </label>

        <label class="toggleDivVisibilityLabel" for="teoria">Teoria</label>
        <label class="switch" >
            <input class="toggleDivVisibility" id="teoria" type="checkbox" checked>
            <div class="slider round"></div>
        </label>

        <!-- Scroll to top button -->
        <button onclick="topFunction()" id="scrollToTop" title="Takaisin ylös"> ⬆ </button>

    </div>
</nav>

<script>
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
    document.getElementById("scrollToTop").style.display = "block";
  } else {
    document.getElementById("scrollToTop").style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>