<div class="modal fade" id="courseSelectModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Valitse kurssi</h4>
            </div>
            <div class="modal-body">
                <form id="selectCourse" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="courseSelect">Kurssimateriaali</label>
                        <div class="col-md-6">
                            <select id="courseSelect" name="courseSelect" class="form-control">
                                <option value="may1">MAY1</option>
                                <option value="maa2">MAA2</option>
                                <option value="maa3">MAA3</option>
                                <option value="maa4">MAA4</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>

    </div>
</div>