---
layout: compress
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include modal.html %}
		{% include nav.html %}
		{% include header.html %}
	        <div style="display: none;">
	        ${% include mathematics.html %}$
	        </div>
		
		{% if page.topnav %}
			{% include topnav.html %}
		{% endif %}
		<main{% if page.main-class %} class="{{page.main-class}}"{% endif %}>
			{{ content }}
		</main>

		{% include footer.html %}
		{% include foot.html %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- mathjax config similar to math.stackexchange -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
  		jax: ["input/TeX", "output/HTML-CSS"],
  		tex2jax: {
            inlineMath: [ ['$', '$'] ],
            displayMath: [ ['$$', '$$']],
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  		},
  		messageStyle: "none",
  		"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }

		});
	</script>

	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
	</script>

	</body>

</html>
